.rrr-pixelated {
	image-rendering: -webkit-optimize-contrast; /* Safari         */
	image-rendering: optimizeSpeed;             /* Legal fallback */
	image-rendering: optimize-contrast;         /* CSS3 Proposed  */
	image-rendering: crisp-edges;               /* CSS4 Proposed  */
	image-rendering: pixelated;                 /* CSS4 Proposed  */
}
